:root{
    --defaut-gap: 1rem;
}

@media screen and (min-width: 48.75em) {

    /*780px // 16 = 48.75*/
    .top-header {
        display: flex;
        justify-content: space-between;
    }

    .top-header_logo {
        margin-left: 2em;
    }

    .top-header_nav {
        background-color: initial;
    }

    .top-header_nav li {
        display: inline-block;
        /*Para não usar duas vezes o display flex*/
    }

    .top-header_nav a {
        color: var(--primary-color);
    }

    .top-header_nav li:hover {
        background-color: color-mix(in srgb, var(--primary-color), white 85%);
    }

    .HeroBanner {
        background-color: var(--primary-color);
    }

    .heroBanner_iconPlay {
        display: block;
        margin: 0 auto;
        margin-bottom: 2em;
    }

    .heroBanner_title,
    .heroBanner_subtitle {
        color: white;
    }

    .HeroBanner_btn {
        padding: .9em 2.5em;
    }
}

@media screen and (min-width:56.25em) {
    /*900px // 16 = 56.25*/
    
    .HeroBanner{
        background-image: url(../images/bg_topo_1198x670.jpg);
        aspect-ratio: 1198 / 670;

        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .HeroBanner .maxWidth{
        margin: initial;
        margin-bottom: 3.5em;
        width: 75%;
    }
}

@media screen and (min-width:74em){
    .HeroBanner{
        background-image: url(../images/bg_topo_1600x1374.jpg);
        background-size: cover;
        max-height: 80vh; /*Falar que a imagem pode crescer proporcionalmente porem chegue no limite de 80% da minha viewport porte */
        width: 100%;
    }

    .HeroBanner .maxWidth{
        width: 50%;
    }

    .heroBanner_iconPlay{
        width: 7em;
        height: 7em ;
    }

    .HeroBanner_btn{
        margin-bottom: 3em;
    }

    .col-xl-6{
        width: calc(50% - var(--defaut-gap));
    }
}

@media screen and (min-width: 48.75em){
    .col-md-6{
        width: calc(50% - var(--defaut-gap));
    }
}

.mainContent_article{
    container: mainContent / inline-size;
}

@container mainContent (min-width: 500px){
    .mainContent_container{
        display: flex;
        gap: var(--defaut-gap);
    }

    .mainContent_title{
        margin-top: 0;
    }

    .mainContent_img{
        flex: 0 0 25%; /*Faz com oq a imagem não mude de tamanho, ou seja martela um tamanho especifico à ela*/
    }

    .mainContent_img img{
        max-height: 382px;
    }

    .mainContent_text{
        flex-grow: 1;
    }
}

/*
min-width: 0         -> col-sm
min-width: 48.75em   -> col-md
min-width: 56.25em   -> col-lg
min-width: 74em      -> col xl
*/